.filterWrap {
    z-index: 999;
    position: absolute;
    top: 10px;
    left: 10px;

    //border: 1px solid green;

    .filterAndSelect {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        input {
            padding: 5px 10px;
            border: 2px solid #ff8056;
            border-radius: 5px;

            &:focus {
                // border: 0;
                outline: 0;
            }
        }

        .selectedUser {
            z-index: 0;
            padding: 5px 14px;
            outline: 1px solid #c35d3b;
            border-radius: 5px;
            position: relative;

            display: flex;
            flex-direction: column;
            gap: 5px;

            background: rgb(255, 232, 218);

            box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.553);

            .delete {
                position: absolute;
                top: 0px;
                right: 3px;
                font-size: 10px;
                cursor: pointer;
            }

            .name {
                font-size: 12px;
                font-weight: 600;
            }

            .postsBlock {
                font-size: 10px;
                font-weight: 600;

                display: flex;
                flex-direction: column;
                gap: 2px;

                .offItem {
                    background: white;
                    border: 2px solid #ff8056;
                    border-radius: 5px;
                    padding: 1px 3px;
                }

                .depItem {
                    background: white;
                    border: 2px solid steelblue;
                    border-radius: 5px;
                    padding: 1px 3px;
                }

                //rgba(42, 153, 85, 0.8431372549)
                .secItem {
                    background: white;
                    border: 2px solid rgba(42, 153, 85, 0.8431372549);
                    border-radius: 5px;
                    padding: 1px 3px;
                }
                .divItem {
                    background: white;
                    border: 2px solid rgba(216, 126, 23, 0.843);
                    border-radius: 5px;
                    padding: 1px 3px;
                }
            }
        }
    }

    .filterList {
        background: white;
        outline: 2px solid #ff8056;
        border-radius: 5px;

        z-index: 9999;
        display: flex;
        flex-direction: column;
        gap: 2px;

        font-size: 12px;
        padding: 5px 10px;
        cursor: pointer;
    }
}
