.mainWrap {
    background: whitesmoke;
    //padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    padding: 5px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.655);

    position: relative;

    .seleted {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(-110%);
        display: none;
        //border: 1px solid black;
    }



    .content {
        max-width: 200px;
        //border: 1px solid black;
        font-size: 10px;


        .name {
            color: white;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }

        .leadership {
            color: white;
            text-align: right;
        }

        .ckp {
            text-transform: lowercase;
            color: white;
        }

        .description {
            font-size: 7px;
            overflow: hidden;
            text-overflow: ellipsis;
            //white-space: nowrap;
            max-height: 50px;
            border: 1px solid rgba(0, 0, 0, 0.09);
            border-radius: 3px;
            padding: 1px 2px;
            text-transform: lowercase;
            color: white;

        }


    }

}

.mainWrapSelected {
    outline: 2px solid rgb(0, 0, 0);
    box-shadow: 15px 5px 15px solid black;

    .seleted {
        display: block;
    }

    .content {
        .leadership {
            font-weight: 600;
            color: black;
            text-decoration: underline;
        }
    }
}