.mainWrap {
    background: rgb(255, 255, 255);
    //padding: 10px;
    outline: 2px solid rgba(0, 0, 0, 0.158);
    border-radius: 5px;
    width: 200px;
    padding: 5px 10px;
    box-shadow: 8px 15px 7px rgba(0, 0, 0, 0.37);

    position: relative;

    .seleted {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(-110%);
        display: none;
        //border: 1px solid black;
    }

    .content {
        max-width: 200px;
        //border: 1px solid black;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        gap: 3px;

        .name {
            color: white;
            overflow: hidden;
            text-overflow: ellipsis;
            //white-space: nowrap;
            text-decoration: underline;
            text-align: center;

            // border: 1px solid black;
            padding: 1px 3px;
            border-radius: 3px;
            color: black;
            background: rgba(255, 255, 255, 0.719);
            text-decoration: none;
            font-size: 9px;
            font-weight: 600;
            box-shadow: 1px 1px 4px black;
        }

        .leadership {
            color: rgba(255, 255, 255, 0.918);
            text-align: right;
            text-decoration: underline;
        }

        .leadershipSelected {
            color: rgb(0, 0, 0);
            text-align: right;
            border: 1px solid rgb(255, 254, 254);
            padding: 2px 5px;
            text-align: center;
            border-radius: 5px;
            text-decoration: underline;
            font-weight: 600;
            background: #ff8056;
            color: white;
            letter-spacing: 0.7px;
        }

        .ckp {
            //text-transform: lowercase;
            font-size: 8px;
            color: white;
            color: rgb(75, 65, 7);
            font-weight: 600;
            border: 1px solid black;
            align-self: flex-start;
            padding: 0px 5px;
            border-radius: 3px;
            background: rgb(213, 228, 3);
        }

        .description {
            font-size: 7px;
            overflow: hidden;
            text-overflow: ellipsis;
            //white-space: nowrap;
            max-height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.342);
            border-radius: 3px;
            padding: 1px 5px;
            text-transform: lowercase;
            color: white;
            box-shadow: 0px 0px 5px black;
        }
    }
}

.mainWrap_off {
    // background: #FF8056;
    background: rgb(249, 83, 28);
    background: linear-gradient(180deg, rgba(249, 83, 28, 1) 0%, rgba(255, 161, 130, 1) 84%);
}

.mainWrap_dep {
    background: #4985b6;
    background: rgb(44, 123, 187);
    background: linear-gradient(180deg, rgba(44, 123, 187, 1) 0%, rgba(93, 159, 213, 1) 84%);
}

.mainWrap_sec {
    background: rgb(28, 124, 65);
    background: linear-gradient(180deg, rgba(28, 124, 65, 1) 0%, rgba(48, 190, 103, 1) 84%);
}
.mainWrap_div {
    background: rgb(235, 166, 19);
    background: linear-gradient(180deg, rgba(235, 166, 19, 1) 0%, rgb(226, 161, 77) 84%);
}

.mainWrapSelected {
    outline: 2px solid rgb(0, 0, 0);
    // box-shadow: 15px 5px 15px solid black;

    .seleted {
        display: block;
    }

    .content {
    }
}

.genDir {
    // background: red;
    outline: 3px solid #ff8056;
    border: 0;
    box-shadow: 5px 5px 9px rgb(0, 0, 0);
    width: 100%;
    padding: 10px 20px;

    .content {
        max-width: 100%;

        .name {
            font-size: 15px;
            color: #ff8056;
        }

        .leadership {
            font-size: 15px;
            color: #000000;
            font-weight: 600;
        }

        .ckp {
            display: none;
        }

        .description {
            display: none;
        }
    }
}
