.wrapper {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(151, 151, 151, 0.12), 0px 1px 2px rgba(151, 151, 151, 0.24);
    width: 100%;
    height: 80px;
    padding: 5px;




    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;

        //border: 1px solid black;
        img {
            height: 100%;
        }

        .mainText {
            background-image: url('/img/graph_fone.png');
            background-size: 100%;
            // background-position: 160px 380px;
            background-position: 20px -90px;
            background-repeat: no-repeat;
            font-size: 40px;
            font-weight: 700;
            // border: 1px solid black;
            display: flex;
            align-items: center;
            color: #FF8056;
            letter-spacing: .7px;
            gap: 20px;
            text-wrap: nowrap;

            // text-shadow: 2px 2px 4px rgba(209, 209, 209, 0.1),
            //     3px 4px 4px rgba(209, 209, 209, 0.15),
            //     4px 6px 4px rgba(209, 209, 209, 0.2),
            //     5px 8px 4px rgba(209, 209, 209, 0.25);

            .amg {
                font-weight: 600;
                color: #FF8056;
            }

            .stat {
                // color: rgb(182, 179, 179);
                // background: linear-gradient(to right, #FF8056, #3063f07e);
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
                color: #4296d4;
                font-size: 30px;
            }
        }

        .userBlock {
            display: flex;
            flex-direction: column;
            //border: 3px solid rgba(0, 0, 0, 0.048);
            outline: 1px solid rgba(0, 0, 0, 0.133);
            align-items: center;
            border-radius: 20px;
            padding: 0px 10px;

            transition: all 150ms linear;



            &:hover {
                opacity: 1;
                // outline: 3px solid #ff805657;
                box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.379);
            }

            .firstRow {
                display: flex;
                gap: 3px;

                .mainInfo {
                    border-radius: 10px;
                    //padding: 5px 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 1px;

                    // justify-content: flex-end;
                    .roleText {
                        font-size: 12px;
                        opacity: .5;
                        align-self: flex-end;
                    }

                    .userLogin {
                        display: flex;
                        align-items: center;
                        gap: 5px;



                        .key {}

                        .name {
                            // text-decoration: underline;
                        }
                    }


                }

                .settings_ {
                    font-size: 30px;
                    cursor: pointer;
                    opacity: .5;
                    transition: all 150ms linear;
                    filter: grayscale(0%);

                    &:hover {
                        opacity: .8;
                        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.151));
                    }
                }

                .settings_active {
                    font-size: 30px;
                    cursor: pointer;
                    opacity: 1;
                    transition: all 150ms linear;
                    filter: invert(100%);
                    animation: rotate 8s infinite linear;

                    &:hover {
                        opacity: .8;
                        filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.342));
                    }
                }

            }

            .secondRow {
                align-self: flex-end;

                .exit {
                    // align-self: center;
                    border: 1px solid rgba(128, 128, 128, 0.399);
                    border-radius: 5px 5px 10px 5px;
                    font-size: 12px;
                    opacity: .6;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                    cursor: pointer;
                    transition: all 150ms linear;
                    //width: 175px;
                    text-align: right;
                    padding: 2px 5px;
                    // box-shadow: 1px 1px 3px black;

                    &:hover {
                        opacity: 1;
                        box-shadow: 0;
                        box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.385);

                    }
                }
            }


        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}