.blokWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 5px;


    .columnsHelps {
        font-size: 12px;
        opacity: .6;
        background: rgba(255, 255, 0, 0.336);
        padding: 5px 10px;
        text-align: left;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border: 2px dotted rgb(88, 88, 88);
        border-radius: 10px;
    }

    .fullScreenBtn {
        //background: #56b9ff;
        border: 2px solid lightblue;
        padding: 2px 5px;
        border-radius: 5px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.671);
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
    }

    //border: 2px solid #2a8fd7;
    .createNewTableBtn {
        cursor: pointer;
        font-size: 17px;
        padding: 5px 10px;
        background: #56b9ff;
        border-radius: 5px;
        font-weight: 500;
        color: white;
        margin-bottom: 10px;
    }

    .saveTableBlock {
        align-self: flex-end;
        display: flex;
        gap: 10px;
        margin: 5px;

        input {
            display: none;
            border: 2px solid #FF8056;
            border-radius: 5px;
            padding: 0px 5px;
            font-weight: 600;
            text-align: center;
            font-size: 11px;

            &:focus {
                outline: 0;
                border: 2px solid #FF8056;
            }

            &::placeholder {
                opacity: .4;
                font-weight: 500;
            }
        }

        .savePatternBtn {
            cursor: pointer;
            padding: 3px 10px;
            font-size: 13px;
            // border: 2px solid red; 
            align-self: flex-start;
            background: #FF8056;
            border-radius: 5px;
            font-weight: 500;
            color: white;
            align-self: flex-end;
            opacity: .6;

            &:hover {
                opacity: 1;
            }



        }

        &:hover {
            input {
                display: block;
            }
        }

    }

    .tableWrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;

        .tableNameWrap {
            width: 100%;
            margin-bottom: 10px;

            input {
                width: 100%;
                border: 2px solid #bababa39;
                border-radius: 5px;

                padding: 5px 15px;
                color: #282929;
                width: 100%;
                font-size: 18px;
                font-weight: 600;
                text-align: center;

                &::placeholder {
                    opacity: .4;
                }

                &:focus {
                    outline: 0;
                }
            }
        }

        .tableAboutWrap {
            border: 2px solid #56b9ff;
            border-radius: 5px;
        }

        .tableDescriptionsWrap {
            //border: 2px solid #56b9ff;
            border-radius: 5px;
            font-size: 20;
            font-weight: 600;
            cursor: pointer;


            .descriptionsName {
                border: 2px solid #56b9ff;
                border-radius: 5px;
                padding: 5px 15px;

                &:focus {
                    outline: 0;
                }
            }

            .tableDescriptionsBtn {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 2px 5px;

                .tableDescriptionsBtnIco {}

                .tableDescriptionsBtnName {
                    font-size: 13px;
                }
            }



            .descriptionsBlock {
                z-index: 100;
                position: fixed;
                top: 10px;
                left: 10px;
                background: white;
                border-radius: 10px;
                padding: 10px 30px 10px 15px;
                border: 3px solid #FF8056;
                box-shadow: 8px 8px 15px #131313b0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-height: 97vh;

                .close {
                    font-size: 12px;
                    position: absolute;
                    right: 5px;
                    top: 3px;
                    cursor: pointer;
                    filter: grayscale(100%);

                }

                .descriptionsUpdate {
                    background: #FF8056;
                    color: white;
                    font-size: 14px;
                    padding: 3px 7px;
                    border-radius: 3px;
                    box-shadow: 2px 2px 3px black;
                    align-self: flex-start;
                    cursor: pointer;
                }
            }

        }



        .tableMain {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;
            width: 100%;
            padding-top: 10px;
            //overflow-x: auto;



            .headerBlock {
                display: flex;
                position: relative;
                gap: 5px;
                // border: 1px solid orange;

                .headerItem {
                    background: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    position: relative;
                    outline: 2px solid #FF8056;
                    border-radius: 5px 5px 2px 2px;
                    text-align: center;
                    font-size: 12px;
                    font-weight: 600;
                    transition: all 200ms ease-in;

                    .clientHeaderMain {
                        //border: 1px solid red;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        padding: 5px;
                        resize: none;
                        overflow: hidden;
                        position: relative;

                        .headerDecor {
                            position: absolute;
                            top: 0;
                            right: 0;
                            color: darkorchid;
                            font-size: 10px;
                        }
                    }

                    .adminHeaderMain {
                        //border: 1px solid red;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        padding: 5px;
                        resize: horizontal;
                        overflow: hidden;
                        position: relative;

                        .headerDecor {
                            position: absolute;
                            top: 0;
                            right: 0;
                            color: darkorchid;
                            font-size: 10px;
                        }
                    }


                    .adminHeader {
                        z-index: 10;
                        background: white;
                        border: 2px solid #FF8056;
                        border-radius: 10px 10px 10px 0;
                        display: none;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        gap: 5px;
                        padding: 7px 5px;
                        transform: translateY(-100%);
                        font-size: 10px;

                        .headerDecor {

                            color: darkorchid;
                            font-size: 14px;
                        }

                        input,
                        textarea {
                            padding: 5px 10px;
                            font-size: 12px;
                            border: 1px solid #FF8056;
                            border-radius: 5px;

                        }

                        .displayOChart {
                            display: flex;
                            gap: 10px;
                            font-size: 12px;
                            font-weight: 500;
                            width: 100%;
                        }

                        .logicWrap {
                            position: relative;
                            // border: 2px solid #56ff89;

                            .logicInput:focus {}


                            .logicHelp {
                                z-index: 100;
                                display: none;
                                background: #cff9db;
                                border: 2px solid green;
                                border-radius: 10px 10px 10px 10px;
                                padding: 10px 20px;
                                //display: flex;
                                flex-direction: column;
                                gap: 5px;
                                position: absolute;
                                left: 0;
                                top: 25px;


                                .columnsHelp {
                                    display: flex;
                                    flex-direction: column;

                                    gap: 3px;

                                    .columnHelpItem {
                                        display: flex;
                                        gap: 5px;
                                        white-space: nowrap;

                                        .columnHelpLast {
                                            font-size: 15px;
                                            // border: 2px solid #FF8056;
                                            border-radius: 5px;
                                        }

                                        .columnHelpCurrent {
                                            background: white;
                                            border: 2px solid #FF8056;
                                            border-radius: 5px;
                                            padding: 3px 5px;
                                            font-size: 11px;
                                            width: 100%;
                                        }
                                    }
                                }

                                .mathHelp {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    gap: 3px;
                                    white-space: nowrap;

                                    .mathHelpItem {
                                        padding: 3px 10px;
                                        background: #56b9ff;
                                        border-radius: 5px;
                                        font-size: 12px;
                                        color: white;
                                        font-weight: 500;
                                    }
                                }

                                .helpItem {
                                    font-size: 12px;
                                }
                            }

                            &:hover {
                                .logicHelp {
                                    display: flex;
                                }
                            }
                        }

                    }

                    &:hover {
                        .adminHeader {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }

                .selectPattern {
                    border: 3px solid #FF8056;
                    transform: translateY(-20px);
                    box-shadow: -3px -3px 17px #ff805658, 3px 3px 10px black;
                    //background: #f9d2c5;
                    margin-right: 2px;

                }

                .addColumnBtn {
                    display: none;
                    position: absolute;
                    right: 0;
                    transform: translateX(+100%);
                    border: 2px solid #FF8056;
                    border-radius: 5px;
                    cursor: pointer;

                    .addColumnBtnInfo {
                        display: none;
                    }
                }

                &:hover {
                    .addColumnBtn {
                        display: block;
                    }
                }
            }

            .bodyBlock {
                display: flex;
                flex-direction: column;
                gap: 2px;
                height: 100%;



                .row {

                    display: flex;
                    gap: 5px;
                    position: relative;
                    min-height: 100%;
                    //border: 1px solid red;
                    background: white;

                    .itemDate {
                        background: rgba(55, 137, 55, 0.258);
                        font-weight: 600;
                    }


                    .item {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        //flex-direction: column;
                        min-height: 100%;
                        border: 1px solid rgb(166, 166, 167);
                        border-radius: 3px;
                        font-size: 10px;
                        padding: 5px 3px;
                        position: relative;
                        transition: all 100ms ease-in;

                        .itemInput {
                            width: 100%;
                            //height: 100%;
                            border: 0;
                            text-align: center;
                            min-height: 100%;
                            font-weight: 600;
                            font-size: 12px;
                            background: transparent;

                            &:focus {
                                border: 0;
                                outline: 0;

                            }
                        }

                        .itemValue {


                            .itemDescription {
                                position: absolute;
                                top: -3px;
                                right: 0;
                                font-size: 9px;
                                opacity: .6;

                                //border: 1px solid black;
                            }

                        }

                        .adminItemWrap {
                            display: flex;
                            justify-content: center;
                            flex-grow: 1;

                            .resultWrap {

                                .expression {
                                    display: block;
                                    font-size: 9px;
                                    position: absolute;
                                    left: 3px;
                                    top: 0px;
                                    opacity: .4;
                                    font-weight: 400;
                                }

                                .resultValue {
                                    font-size: 11px;
                                    font-weight: 600;
                                }

                                &:hover {
                                    .expression {
                                        display: block;
                                    }
                                }
                            }
                        }


                    }



                    .forInputData {
                        border: 2px solid #124da5c2;
                    }

                    .withInputData {
                        border: 2px solid #12a5525f;
                    }

                    .rowDel {
                        cursor: pointer;
                        display: none;
                        position: absolute;
                        right: 0;
                        transform: translateX(+100%);
                    }

                    .selectedRow+.withInputData {
                        border: 3px solid green;

                        input:focus {
                            font-size: 15px;
                            font-weight: 600;
                            border-bottom: 2px solid rgba(255, 99, 71, 0.422);
                        }
                    }

                    .selectedRow+.forInputData {
                        border: 3px solid blue;

                        input:focus {
                            font-size: 15px;
                            font-weight: 600;
                            border-bottom: 1px solid gray;
                        }
                    }



                    &:hover {
                        .rowDel {
                            display: block;
                        }

                        .item {
                            .adminItemWrap {
                                .resultWrap {
                                    .expression {
                                        display: block;
                                    }

                                    .resultValue {}


                                }
                            }
                        }
                    }
                }

                .rowSaved {
                    background: #f0f0f08b;
                    //opacity: .8;
                    filter: invert(15%) contrast(120%);

                    &>div {
                        border: 1px solid #945e4d !important;
                    }
                }

                .currentPeriod {
                    margin: 2px 0;
                    padding: 5px 0;
                    outline: 1px solid rgba(7, 153, 31, 0.726);
                    // background: rgb(47, 92, 160); 
                    border-radius: 2px;
                    background: rgba(7, 165, 68, 0.26);
                    position: relative;

                    &>div,
                    input {
                        background: white;
                    }

                    &::before {
                        position: absolute;
                        left: -23px;
                        top: 50%;
                        transform: translateY(-50%);
                        content: '➡️';
                    }

                }



            }

            .buttonsBlock {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 10px;
                padding: 0 20px 0 10px;
                margin-bottom: 5px;

                .addRowBtn {
                    cursor: pointer;
                    // border: 2px solid red; 
                    align-self: flex-start;
                    background: rgba(55, 137, 55, 0.258);
                    border-radius: 5px;

                }

                .saveTableBtn {
                    cursor: pointer;
                    padding: 4px 10px;
                    font-size: 15px;
                    //border: 2px solid red; 
                    align-self: center;
                    background: #56b9ff;
                    border-radius: 5px;
                    font-weight: 500;
                    color: white;
                    //  align-self: flex-end;
                    opacity: 1;
                    box-shadow: 3px 3px 4px black;
                    text-align: center;

                    &:hover {
                        opacity: 1;
                    }



                }

                .updateTableBtn {
                    cursor: pointer;
                    padding: 4px 20px;
                    font-size: 18px;
                    // border: 2px solid red; 
                    align-self: flex-start;
                    background: #148947;
                    border-radius: 5px;
                    font-weight: 500;
                    color: white;
                    align-self: flex-end;
                    opacity: 1;
                    box-shadow: 3px 3px 4px black;
                    display: flex;
                    flex-direction: column;

                    span {
                        align-self: flex-end;
                        font-size: 13px;
                        opacity: .7;
                    }

                    &:hover {
                        transition: transform 100ms ease-in-out;
                        transform: scale(105%);
                    }


                }

                .deleteTableBtn {
                    cursor: pointer;
                    padding: 3px 10px;
                    font-size: 13px;
                    // border: 2px solid red; 
                    align-self: flex-start;
                    background: rgb(218, 44, 28);
                    border-radius: 5px;
                    font-weight: 500;
                    color: white;
                    align-self: flex-start;
                    opacity: .4;
                    box-shadow: 3px 3px 4px black;

                    &:hover {
                        opacity: .9;
                    }

                }



            }

            .createNextPeriodBtn {
                align-self: center;
                cursor: pointer;
                font-size: 15px;
                padding: 5px 20px;
                background: #56b9ff;
                border-radius: 5px;
                font-weight: 500;
                color: white;
                margin-bottom: 10px;
                box-shadow: 3px 3px 4px black;
            }
        }
    }

}

.miniTableWrap {
    background: #f5f2f1;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    border: 2px solid rgba(153, 153, 153, 0.416);
    padding: 5px;
    border-radius: 5px;

    .miniHeaderBlock {
        display: flex;

        .miniHeaderItem {
            border: 1px solid rgb(222, 219, 219);
            text-align: center;
            background: #FF8056;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3px;
            border-radius: 3px;

            &:nth-child(1) {
                background: #148947;
                //color: white;

            }
        }
    }

    .miniBodyBlock {


        .miniBodyRow {
            display: flex;
            //border: 1px solid black;

            .miniRowItem {
                text-align: center;
                border: 1px solid rgb(222, 219, 219);

                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;


                &:nth-child(1) {
                    background: #a6bdb0;

                    font-size: 10px;
                    font-weight: 600;
                }
            }


        }

        .currentPeriod {
            margin: 2px 0;
            background: rgb(224, 193, 193);
            border: 1px solid rgba(255, 99, 71, 0.167);
            border-radius: 3px;
        }


    }
}

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    overflow: auto;

    background: white;
    padding-top: 70px;

    .closeModalBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

}