.mainWrap {
    position: relative;
    display: flex;
    flex-direction: column;


    //border: 2px solid red;
    background: white;





    .itemsSelectBlock {
        z-index: 100;
        background: white;
        border: 1px solid black;
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        align-self: flex-start;
        font-size: 10px;
        //font-weight: 600;
        //padding: 5px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px black;

        transition: all 300ms linear;


        .closeWin {
            z-index: 999;
            position: absolute;
            right: -25px;
            top: 0px;
            background: white;
            border: 2px solid rgb(83, 83, 83);
            box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.336);
            padding: 2px;
        }

        &>div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;
            cursor: pointer;
            border-radius: 10px;
            padding: 5px;

            &>div {
                padding: 2px 10px;
                border-radius: 5px;
            }
        }


    }

    .tableWrap {
        max-height: 100%;
        overflow: hidden;
        //border: 10px solid pink;
        max-height: 85vh;
        overflow-y: auto;
        // padding: 10px;
        padding-left: 20px;

        table {


            //background: rgb(197, 197, 197);
            width: 99%;
            border: 2px solid rgba(0, 0, 0, 0.137);
            border-collapse: separate;
            border-radius: 5px;
            margin-bottom: 50px;
            //margin-left: 20px;


            caption {
                //display: none;
                // background: rgb(216, 216, 216);
                color: rgb(0, 0, 0);
                caption-side: top;
                margin-bottom: 15px;



                &>div {
                    //padding: 2px;


                    &>div {
                        border-radius: 3px;
                        padding: 1px;
                        margin: 3px;
                        //border: 1px solid rgba(255, 255, 255, 0.349);
                        cursor: pointer;
                    }
                }



                .filterBlockWrap {
                    opacity: .8;
                    background: rgba(128, 128, 128, 0.048);
                    display: flex;
                    flex-direction: column;
                    //border: 2px solid rgba(0, 0, 0, 0.116);
                    padding: 2px;
                    margin: 10px;
                    border-radius: 10px;
                    box-shadow: 0px 0px 7px black;
                    transition: all 200ms linear;

                    &:hover {
                        opacity: 1;
                    }

                    .filterTitle {
                        text-align: center;
                        font-size: 15px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.79);
                        background: rgba(128, 128, 128, 0.205);
                        border-radius: 5px 5px 2px 2px;
                    }



                    .filterOrgTypeBlock {
                        display: flex;
                        flex-direction: column;


                        gap: 10px;
                        width: auto;
                        font-size: 13px;

                        .filtersOrgBtns {
                            align-self: flex-start;
                            display: flex;
                            flex-direction: column;

                            &>div {
                                align-self: flex-start;

                                &>label {
                                    display: flex;
                                    gap: 10px;
                                    font-size: 15px;

                                }
                            }

                        }

                        .filtersOrg {
                            display: flex;
                            gap: 10px;

                            .isSelectFilter_true {

                                width: auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                label {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                }

                            }

                            .isSelectFilter_false {

                                width: auto;
                                display: flex;
                                align-items: center;

                                label {
                                    display: flex;
                                    align-items: center;

                                }
                            }


                            &>div {
                                width: 100%;
                                padding: 5px;
                            }
                        }

                        .filtersHelp {
                            opacity: .6;
                            background: rgba(255, 255, 0, 0.336);
                            padding: 5px 10px;
                            text-align: left;
                            align-self: flex-end;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            border: 2px dotted rgb(88, 88, 88);
                            border-radius: 10px;
                        }





                    }


                    .selectedFilter {
                        border-radius: 10px;
                        // padding: 20px;
                        opacity: .8;
                        color: white;
                        // border: 1px solid black;
                    }

                    .notSelectedFilter {
                        border-radius: 10px;
                        opacity: .3;
                    }


                    .filter {
                        width: 100%;
                        display: flex;
                        gap: 20px;
                        align-items: center;

                        .text {
                            width: 120px;
                            font-weight: 600;
                            text-align: right;
                            opacity: .4;
                        }

                        .filterTypeBlock {

                            font-size: 13px;
                            display: flex;

                            justify-content: center;
                            gap: 10px;

                            &>div {
                                display: flex;
                                gap: 10px;
                                padding: 3px 10px;
                                border-radius: 5px;
                                font-size: 15px;

                            }


                        }

                        .filterBlock {
                            display: flex;
                            justify-content: center;
                            gap: 10px;

                            &>div {
                                display: flex;
                                gap: 10px;
                                padding: 3px 10px;
                                border-radius: 5px;
                                font-size: 15px;

                            }


                        }

                        .filterFellingBlock {
                            display: flex;
                            justify-content: center;

                            gap: 10px;

                            &>div {
                                display: flex;
                                gap: 10px;
                                padding: 3px 10px;
                                border-radius: 5px;
                                font-size: 15px;

                            }

                        }
                    }


                }



            }

            thead {
                color: white;
            }

            tr {
                .itemHeader {
                    column-span: 5;
                }

                .timeCell {
                    text-wrap: nowrap;
                    font-weight: 600;
                    color: rgb(0, 0, 0);
                    //background-color: rgba(255, 99, 71, 0.273);
                    // background: rgb(255, 0, 0);
                    // background: linear-gradient(90deg, rgba(255, 0, 0, 0.4374805097820378) 0%, rgba(255, 255, 255, 1) 35%);
                    color: rgb(223, 57, 28);
                    //max-width: 115px;
                    //padding: 0 5px;

                    .timeBlock {
                        display: flex;
                        flex-direction: column;

                        .lastUpdate {
                            align-self: flex-end;
                            font-size: 8px;
                            display: flex;
                            gap: 3px;

                            .date {}

                            .time {
                                padding: 0px 2px;
                                background: rgba(255, 255, 255, 0.651);
                                border-radius: 2px;
                            }
                        }
                    }



                }

                .timeCell_filled {
                    //background: rgb(100, 166, 252, .2);
                    color: rgb(10, 13, 158);
                }

                .trendCell {
                    font-weight: 500;
                }

                .trendCell_growing {
                    background: rgb(63, 177, 69, .1);
                    font-weight: 600;
                    color: rgb(0, 0, 0);
                }

                .trendCell_falling {
                    background: rgb(250, 70, 47, 0.1);
                    font-weight: 600;
                    color: rgb(0, 0, 0);

                }

                .trendCell_empty {
                    background: rgb(128, 128, 128, .1);
                }


                .mainColumn {
                    padding: 10px 2px;
                    //border: 1px solid black;
                    // background: rgba(194, 97, 64, 0.329);

                    color: black;
                    //border: 2px solid rgb(194, 97, 64);
                    letter-spacing: .9px;
                    border-radius: 5px;

                    .periodColumnBlock {
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .isLastUpdate_true {
                            opacity: 1;
                            cursor: pointer;
                        }

                        .isLastUpdate_false {
                            opacity: .5;
                            cursor: pointer;
                        }
                    }
                }
            }

            td,
            th {
                text-align: center;
                //border: 2px solid black;
                padding: 2px 2px;

                border-radius: 3px;
                //box-shadow: 2px 2px 5px black;

            }

            th {
                // text-shadow: 0px 0px 2px black;

                color: white;
                font-size: 13px;
                text-align: center;
                //transform: translateX(-1%) scale(102%);

                //box-shadow: 4px 1px 8px black;\
                div {

                    height: 15px;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    &>span:nth-child(1) {
                        color: rgba(0, 0, 0, 0.418);

                    }

                    &>span:nth-child(2) {
                        color: rgba(0, 0, 0, 0.411);
                        font-weight: 500;
                        text-align: right;
                    }
                }




            }

            td {
                font-size: 12px;


            }

            tbody {



                tr {}

                .orgItem_office {
                    // outline: 2px solid rgb(255, 128, 86, );
                    // background: #ff8056;
                    background: rgb(255, 128, 86);
                    background: linear-gradient(90deg, rgba(255, 128, 86, .3) 0%, rgba(255, 255, 255, 1) 53%);
                    color: rgb(3, 3, 3);
                    //opacity: .5;

                    .itemFirst {
                        background: white;
                    }
                }

                .orgItem_department {
                    //background: #4683b4;
                    background: rgb(70, 131, 180);
                    background: linear-gradient(90deg, rgba(70, 131, 180, .3) 0%, rgba(255, 255, 255, 1) 53%);
                    color: white;

                    .itemFirst {
                        background: white;
                    }
                }

                .orgItem_section {
                    //background: #2a9955;
                    background: rgb(42, 153, 85);
                    background: linear-gradient(90deg, rgba(42, 153, 85, .3) 0%, rgba(255, 255, 255, 1) 53%);

                    .itemFirst {
                        background: white;
                    }
                }


                .statLine {
                    padding: 10px;


                    &>td {
                        border: 1px solid rgba(0, 0, 0, 0.267);
                    }

                    &:hover {

                        cursor: pointer;

                        &>td:nth-child(3) {
                            background: rgba(187, 255, 0, 0.199);
                            font-weight: 600;
                        }
                    }

                }

                .statLine_selected {
                    position: relative;

                    &::after {
                        //position: fixed;
                        z-index: -1;
                        position: absolute;
                        left: -24px;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 1;
                        content: 'â­';
                    }

                }
            }


        }
    }
}

.selectedFilter_true {
    background: rgb(98, 187, 238);
    box-shadow: 1px 1px 5px black;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    transition: all 200ms linear;


    .title {
        color: rgb(0, 0, 0);
    }

    .count {
        background: white;
        border-radius: 2px;
        padding: 0 3px;
        font-weight: 600;
    }
}

.selectedFilter_false {
    font-size: 13px;
    //background: rgb(244, 244, 245);
    //box-shadow: 1px 1px 5px black;
    outline: 1px solid rgba(0, 0, 0, 0.363);
    display: flex;
    justify-content: space-around;
    transition: background 200ms linear;



    .title {
        color: rgb(2, 2, 2);
    }

    .count {
        // outline: 2px solid black;
        // background: white;
        // border-radius: 2px;
        // padding: 0 3px;
        font-weight: 600;
    }
}

.filterTypeBlock>.selectedFilter_true {
    &:nth-child(1) {
        background: rgb(196, 192, 6, 0.432);
        color: black;
    }

    &:nth-child(2) {
        background: rgb(168, 168, 167, 0.432);
    }



}

.filterTypeBlock>.selectedFilter_false {
    &:nth-child(1) {
        outline: 1px solid rgb(196, 192, 6);
    }

    &:nth-child(2) {
        outline: 1px solid rgb(168, 168, 167);
    }



}

.filterBlock>.selectedFilter_true {
    &:nth-child(1) {
        background: rgb(63, 177, 69, 0.432);
    }

    &:nth-child(2) {
        background: rgb(250, 70, 47, 0.432);
    }

    &:nth-child(3) {
        background: rgb(134, 134, 134, 0.432);
    }

}

.filterBlock>.selectedFilter_false {
    &:nth-child(1) {
        outline: 1px solid rgb(63, 177, 69);
    }

    &:nth-child(2) {
        outline: 1px solid rgb(250, 70, 47);
    }

    &:nth-child(3) {
        outline: 1px solid rgb(134, 134, 134);
    }

}

.filterFellingBlock>.selectedFilter_true {
    &:nth-child(1) {
        background: rgb(100, 166, 252, 0.432);
    }

    &:nth-child(2) {
        background: rgba(250, 71, 47, 0.432);
    }
}

.filterFellingBlock>.selectedFilter_false {
    &:nth-child(1) {
        outline: 1px solid rgb(100, 166, 252);
    }

    &:nth-child(2) {
        outline: 1px solid rgb(250, 70, 47);
    }
}

.btnsBlock {
    z-index: 10;
    background: white;
    position: fixed;
    right: 0;
    top: 50%;
    border: 2px solid rgba(0, 0, 0, 0.404);
    border-radius: 10px 2px 2px 10px;
    display: flex;
    padding: 3px 10px;
    justify-content: flex-end;
    transform: translateX(72%);
    transition: transform 100ms ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    &:hover {
        transform: none;
    }


    .exelBtn {
        cursor: pointer;
        border: 1px solid green;
        border-radius: 3px;
        padding: 2px 5px;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        background-color: green;
        color: white;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.726);
        opacity: .7;
        transition: all 100ms linear;

        &:hover {
            opacity: 1;


        }
    }

    .unselect {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 12px;
        border-radius: 3px;
        padding: 2px 5px;
        opacity: .7;
        border: 1px solid rgb(128, 99, 5);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.726);
        transition: all 100ms linear;

        &:hover {
            opacity: 1;


        }
    }
}