.statControlWrapper{
    
    justify-self:center ;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    

    .periodBlock{
        background:  rgba(89, 154, 228, 0.336);
        border-radius:10px;
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        button{
            padding: 5px 5px;
            border-radius: 5px;
            border: 0;
            cursor: pointer;
            background: #ff8056;
            color: white;
        }
        

        .datesBlock{
            display:flex;
            gap: 20px;

            input{
                border: 0;
                padding: 3px 5px;
                border-radius: 5px;
                border: 3px solid #FF8056;
            }
        }
    }
    .filterBtn{
        margin-left: 20px;
        cursor: pointer;
        width: 25px;
        height: 25px;
    }

    .filterBlock{
        border: 1px solid rgba(255, 99, 71, 0.493);
        background: #ff805675;
        border-radius:10px;
        padding: 10px;
        margin: 10px;
        display: flex;

        transition: all 300ms ease-in-out;
        
        gap: 10px;
        select{
            border: 0;
            border-radius: 5px;
            font-size: 14px;
            border: 3px solid #FF8056;
            padding: 2px;
        }

        img{
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

    }

    .statisticsBlock{
        display: flex;
        flex-direction: column;
        gap: 5px;

        .statisticItem{
            display: flex;
            gap:10px;
            font-size: 12px;
        }

        table{
            border-radius: 10px;
            .tableHead{
                font-size: 12px;
                
            }
            .tableBody{
                font-size: 10px;

                tr{
                    cursor: pointer;
                    .createDate{
                        background: rgba(153, 205, 50, 0.596);
                    }
                    &:hover{
                        background: #ff80568c;
                        color: white;
                    }
                }
            }
        }
    }

    .statEditorBlock{
        background: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        gap: 10px;
        margin: 10px;
        border-radius: 5px;
        min-width: 300px;
        outline: 5px solid #ff8056;

        .patternInfo{
            padding: 4px 4px;
            border-radius: 3px;
            color: white;
            font-size: 14px;
            background:#ff8056 ;
        }

        .field{
            display: flex;
            flex-direction: column;
            gap: 5px;

            input,textarea{
                border: 2px solid #ff8056;
                padding: 2px 5px;
                border-radius: 5px;
            }



            .fieldName{
                font-size: 12px;
            }
        }

        button{
            font-size: 12px;
            padding: 4px 7px;
            border: 0;
            border-radius: 3px;
        }
        .updateBtn{
            cursor: pointer;
            color: white;
            background: rgb(86, 182, 214);
        }

        .infoBlock{
            font-size: 12px;
            display: flex;
            flex-direction: column;
            gap: 3px;
            align-self: flex-end;
    
            .infoUser{
                border: 1px solid rgba(128, 128, 128, 0.349);
                border-radius: 3px;
                padding: 2px;
                background: rgba(144, 238, 144, 0.253);
            }
            .infoDate{
                border: 1px solid rgba(128, 128, 128, 0.349);
                border-radius: 3px;
                padding: 2px;
                background: rgba(255, 255, 0, 0.253);
            }
            .infoUpdate{
                border: 1px solid rgba(128, 128, 128, 0.349);
                border-radius: 3px;
                padding: 2px;
                background: rgba(86, 182, 214, 0.233);
                display: flex;
                flex-direction: column;
            }
        }

        .deleteBtn{
            font-size: 10px;
            padding: 2px 4px;
            color: white;
            align-self: flex-end;
            background: tomato;
            cursor: pointer;
        }
    }
}