.tableViewBlock{
   //background: rgba(0, 0, 255, 0.13);
   background: white;
   outline:2px solid #ff805681;
   box-shadow: 3px 3px 5px #FF8056;
   border-radius: 10px;
   padding: 10px 5px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 7px;

   .selectTables{
    padding: 5px 10px;
    align-self: center;
    border: 3px solid #FF8056;
    border-radius:5px;
    font-size: 14px;

    option{
        font-size: 12px;
    }

   }

   .table{
    outline:2px solid #63636381;
    border-radius: 5px;
    border-collapse: separate;
    background: rgb(238, 238, 238);
    thead {
        background: none;
        
        .name {
            background: none;

            
            th{
                height: 30px;
                font-size: 12px;
                font-weight: 500;
                padding: 5px;
                border-radius: 5px;
                background: white;

                padding: 0;
                margin: 0px;
                overflow: auto;
                
                div{
                    resize: horizontal;
                    overflow: auto;
                    width: 120px;
                    height: auto;
                    margin: 0px;
                    padding: 0px;                   
                    display:block;
                }
               
            }
            
        }
        .initValue{
            th{
                font-size: 12px;
                font-weight: 500;
            }
            
        }

    }
    tbody{
        background: none;
        font-size: 10px;
        tr{

            td{
                background: white;
                text-align: center;
            }
            &:hover{
                background: green;
            }
        }
    }
   }
   .tablesBtns{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid rgba(128, 128, 128, 0.505);
    padding: 1px 5px;
    border-radius: 5px;
    background:rgb(238, 238, 238);

    &>div{
        cursor: pointer;
    }

    .exelFileBtn{
        
        display: flex;
        align-items: center;
        gap: 3px;
        align-items: center;
        background: rgba(23, 136, 23, 0.849);
        justify-content: center;
        border-radius: 5px;
        padding: 1px 5px;
        cursor: pointer;
        img{
            width: 14px;
            height: 14px;
        }
        span{
            color: white;
            font-size: 10px;
            
        }
    }
   }
}

