.orgWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    .orgHead{
        display: flex;
        flex-direction: column;
        width: 100%;
        h2{
            display: block;
            text-align: center;
        }
    }
}
.addOfficeBtn{
  //border: 1px solid black;  
  cursor: pointer;
 
  background: #FF8056;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
  width: 60px;
  border-radius: 15px;
  margin-left: 30px;
box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.568);
&:hover{
    background: #fa6f40;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.568);

}
}

//----------- ОТДЕЛ
.officeList {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    .tableItem{
        //border: 2px solid black;
        flex: 0 0 356px;
        background: #FF8056;
        cursor: pointer;
        padding: 6px 5px;        
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.20), 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 7px 7px 0px rgba(0, 0, 0, 0.17), 0px 16px 10px 0px rgba(0, 0, 0, 0.10), 0px 29px 12px 0px rgba(0, 0, 0, 0.03), 0px 45px 13px 0px rgba(0, 0, 0, 0.00);

        .help{
            color: white;
            font-size: 13px;
            text-align: right;
            letter-spacing: .7px;
            margin-right: 10px;
            margin-bottom: 5px;
        }
        
        .officeHead{
            color: white;
            font-size: 18px;
            display: flex;
            align-items: center;
            margin-bottom: 3px;
            .officeNumber{
                display: flex;
                align-items: center;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            .officeName{
                width: 100%;
                text-align: center;
                letter-spacing: .8px;
            }

        }

        .leadership{
            border-radius: 3px;
            font-size: 16px;
            background: white;
            padding: 3px 5px;
        }

        .ckp{
            border-radius: 3px;
            font-size: 13px;
            background: white;
            padding: 3px 5px;
        }

    }


    .officeItem {
        margin-top: 20px;
        padding: 10px;
        margin: 5px;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px -3px #00000060;
        border-radius: 14px;
        //border: 2px solid rgba(0, 0, 0, 0.233);


        .officeHead {
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            .officeName {
                font-weight: 600;
            }
            img{
                &:nth-child(2){
                    opacity: .4;
                    width: 23px;
                    cursor: pointer;
                    &:hover{
                      opacity: 1;
                    }
                  }
            }
        }

    }
}

//----------- ОТДЕЛЕНИЕ
.departmentsList {
    background: #FFFFFF;
    //box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.18);
    border-radius: 14px;
    width: 100%;
    //padding: 10px;
    //cursor: pointer;
    //margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    //border: 2px solid rgba(0, 0, 0, 0.233);
    

    .departmentsListHead {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        img{
            width: 30px;
            &:nth-child(2){
                width: 20px;
                opacity: .2;
            }
        }
    }

    .departmentItem {
        // margin-left: 20px;
        //outline: 2px solid rgba(0, 0, 0, 0.253);
        background: #FFFFFF;
        box-shadow: 0px 0px 12px -3px #00000060;
        border-radius: 14px;
        // width: 95%;
        padding: 10px;
        margin-left: 35px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;


        .departmentHead {
            display: flex;
            justify-content: space-between;
            
            img{
                &:nth-child(2){
                    opacity: .4;
                    width: 23px;
                    cursor: pointer;
                    &:hover{
                      opacity: 1;
                    }
                  }
            }
        }


    }

}

.departmentsListOpen {
    border-radius: 20px;
    //outline: 3px solid rgba(5, 5, 5, 0.03);
    padding-bottom: 10px;
    //padding-top: 5px;
    // background: rgba(231, 93, 93, 0.062);
    border-left: 4px solid #FF8056;
}

.sectionsList {
    //border: 2px solid rgba(0, 0, 0, 0.233);
    background: #FFFFFF;
    border-radius: 14px;
    width: 100%;
    border-left: 4px solid #FF8056;

    .sectionsListHead {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        cursor: pointer;
        img{
            width: 30px;
            &:nth-child(2){
                width: 20px;
                opacity: .2;
            }
        }
    }

    .sectionItem {
        //border: 2px solid rgb(0, 0, 0);
        // color: rgb(106, 240, 106);
        box-shadow: 0px 0px 12px -3px #00000060;
        border-radius: 14px;
        padding: 10px;
        // margin: 5px;
        margin-left: 20px;
    }

    .administratorsList {
        border-left: 4px solid #FF8056;
        border-radius: 14px;
        //padding: 3px 0 5px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px 5px 0px 0;

        img{
            width: 20px;
        }
        // img:first-child{
        //     width: 30px;
        // }

        .administrator {
            margin-bottom: 5px;
            margin-left: 40px;
           // border: 1px solid rgb(14, 119, 0);
           box-shadow: 1px 1px 5px 2px #6b6b6b67;
            padding: 0px 10px;
            border-radius: 10px;
            background-color: #ff80561a;

            .administratorHead{
                padding: 2px 10px;
                display: flex;
                justify-content: space-between;
                background-color: #FF8056;
                border-radius: 0 0 10px 10px;
                color: white;

                .userId{
                    display: flex;
                    justify-content: center;
                    gap: 4px;
                    align-items: center;
                    img{
                        opacity: .2;
                        width: 15px;
                    }
                }
                .userName{
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img{
                        width: 14px;
                    }

                }
                .userDel{
                    cursor: pointer;
                    opacity: .5;
                    &:hover{
                        opacity: 1;
                        transform: scale(120%);
                    }
                }
                
            }

            .descriptions{
                display: flex;
                gap: 10px;
                opacity: .5;
                margin: 5px 0;
                font-size: 15px;
                color: black;
                border: 2px solid #796f0f70;
                background-color: #796f0f49;
                padding: 5px;
                border-radius: 5px;
            }


            .chartsList{
                //border: 1px solid black;
                background-color: rgb(255, 255, 255);
                border: 2px solid rgba(128, 128, 128, 0.445);
                padding: 5px;
                border-radius: 5px;
                //margin-left: 20px;
                margin-bottom: 10px;

                h5{
                    display: block;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    font-size: 13px;
                    color:rgb(75, 74, 74);
                }

                .addChartBtn{
                    cursor: pointer;
                    &:hover{
                        transform: scale(120%);
                    }
                }



                .addChart{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    padding: 10px;

                    select{
                        width: 100%;
                        max-width: 400px;
                        border-radius: 10px;
                        padding: 3px 10px;
                    }
                    img{
                        cursor: pointer;
                    }
                }
                img{
                    width: 20px;
                }

                .chartItem{
                    font-size: 15px;
                    letter-spacing: 1px;
                    opacity: .9;
                    border-radius: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    //border: 1px solid black;
                    padding: 0 10px;
                    margin-bottom: 5px;
                    box-shadow: 1px 1px 5px -1px black;
                    background: #fff;

                    .chartId{
                        display: flex;
                        align-items: center;
                        span{
                            font-weight: 600;
                            opacity: .6;
                        }
                        img{
                            opacity: .2;
                        }
                    }
                    .chartName{
                        font-size: 14px;
                        font-weight: 600;
                        opacity: .8;
                    }
                    .chartDel{
                        cursor: pointer;
                        opacity: .5;
                        &:hover{
                            opacity: 1;
                            transform: scale(120%);
                        }
                    }


                }
            }
        }

        .administratorsField {
            //background-color: aqua;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            img {
                &:first-child{
                    width: 30px;
                }
               
                &:nth-child(2) {
                    opacity: .3;
                    width: 20px;
                }
            }
        }

        .addAdminBtn{
            width: 100%;
            display: flex;
            justify-content: left;
            margin-left: 40px;
            padding: 0;
        }

        .addAdmin {
            border: 1px solid black;
            display: flex;
            align-items:center;
            margin: 5px 0 10px 2px;
            padding: 5px 10px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            input,select{
                padding: 5px 10px;
                border-radius: 5px;
            }
            img{
                cursor: pointer;
                width: 20px;
            }
            // select {
            //     border: 0;
            //     padding: 0px;
            //     margin: 0;
            // }

            &::selection {
                border: 0;
                outline: 0;
            }
        }
    }

}