.orgWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

    .orgHead {
        display: flex;
        flex-direction: column;
        width: 100%;

        h2 {
            display: block;
            text-align: center;
        }
    }
    &>*{
        transition: all 200ms ease-in-out;
    }
}
// PROP LINE
.propLine{            
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    //text-align: center;
    outline: 1px solid rgba(0, 0, 0, 0.055);
    border-radius: 10px;
    padding: 2px 3px;
    margin-bottom: 4px;
    background: rgba(255, 255, 255, 0.514);
    img{
        width: 20px;
        cursor: pointer;
    }
    input,textarea,select{
        border: 0;
        width: 100%;
        background: transparent;
        resize: vertical;
        height: 100%;
        &:focus{
            outline: 0;
        }
    }
    textarea{
        font-size: 14px;
        height: 40px;
        
    }
}
// ADD ITEM 
.addItemBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-size: 14px;
    background: #FF8056;
    padding: 6px 5px;
    border-radius: 5px;
    width: 180px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.568);
    margin-top: 5px;
    align-self: flex-end;
    cursor: pointer;
    img{
        width: 20px;
    }
}

.addOfficeBtn {
    //border: 1px solid black;  
    cursor: pointer;

    background: #FF8056;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    width: 60px;
    border-radius: 15px;
    margin-left: 30px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.568);
    opacity: .4;
    transition: all 200ms ease-in-out;

    &:hover {
        opacity: 1;
        background: #fa6f40;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.568);
    }
}

//ADD OFFICE
.addForm{
    width: 700px;
    //border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: white;   
    position: relative;
    gap: 10px;
    padding: 15px 10px;

    input,textarea,select{
        padding: 5px 10px;
        border-radius: 5px;
        border: 0;
        outline: 3px solid rgba(128, 128, 128, 0.247);

        &:focus{
            border: 0;
            outline: 3px solid #fa6e4079 ;
        }
    }

    textarea{
        resize: vertical;
    }
    select{
        
    }

    button{
        padding: 10px 10px;
        border-radius: 5px;
        width: 200px;
        align-self: flex-end;
        margin-top: 20px;
        background: #FF8056;
        color: #fff;
        letter-spacing: 1px;
        font-weight: 500;
        border: 0;
        box-shadow: 2px 2px 5px 1.3px rgba(0, 0, 0, 0.637);       
        &:hover{
            cursor: pointer;
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.637);

        }
    }

    h3{
        color: rgb(0, 0, 0);
        text-align: center;
        font-weight: 500;
    }

    .close{
        width: 30px;
        cursor: pointer;
        position: absolute;
        top: 3px;
        right: 3px;
        opacity:.2;
        transition: all 200ms ease-in-out;
        &:hover{
            opacity: .4;
        }

    }
    
    .addHelp{
        color: rgba(128, 128, 128, 0.527);
        font-size: 14px;
        transform: translateY(8px) translateX(10px);
        letter-spacing: 1px;
    }
}

//UPDATE
.update{
   // border: 1px solid white;
   width: 25px;
   height: 25px;
   cursor: pointer;
   opacity: 1 !important;
   img{
    width: 25px;
    height: 25px;
   }
}

//----------- ОТДЕЛ
.officeList {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 200ms ease-in-out;

    // &.active {
    //     &::after {
    //         content: '';
    //         position: fixed;
    //         inset: 0 0 0 0;
    //         background: rgba(0, 0, 0, 0.133);
    //         z-index: 2;
    //         filter: grayscale(0%);
    //     }

    // }


    //OFFICE ITEM
    .tableItem {
        //border: 2px solid black;

        flex: 0 0 356px;
        background: #FF8056;
        cursor: pointer;
        padding: 6px 5px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.329);
        //box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.20), 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 7px 7px 0px rgba(0, 0, 0, 0.17), 0px 16px 10px 0px rgba(0, 0, 0, 0.10), 0px 29px 12px 0px rgba(0, 0, 0, 0.03), 0px 45px 13px 0px rgba(0, 0, 0, 0.00);
        transition: all 200ms ease-in-out;
        &:hover{
            transform: scale(110%);
            box-shadow: 4px 4px 18px 2px rgba(0, 0, 0, 0.219);


        }
        &.activeItem{
           // background-color: black;
            z-index: 5;
        }

        .help {
            color: white;
            font-size: 13px;
            text-align: right;
            letter-spacing: .7px;
            margin-right: 10px;
            margin-bottom: 5px;
        }

        .officeHead {
            color: white;
            font-size: 18px;
            display: flex;
            align-items: center;
            margin-bottom: 3px;

            .officeNumber {
                display: flex;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .officeName {
                width: 100%;
                text-align: center;
                letter-spacing: .8px;

                
            }

        }

        .leadership {
            border-radius: 3px;
            font-size: 16px;
            background: white;
            padding: 3px 5px;
        }

        .ckp {
            border-radius: 3px;
            font-size: 13px;
            background: white;
            padding: 3px 5px;
        }

    }
}

.officeItem {
    //border: 1px solid rgb(216, 117, 5);
  //  margin-top: 20px;
    //padding: 50px;
    
    width: 100%;
    // overflow: auto;
    height: 100%;
    //margin: 5px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    position: relative;
    transition: all 200ms ease-in-out;   
    

    

    .office {
        
        border-radius: 14px;
        // padding: 10px;
        margin: 10px;
        background: white;
        width: 500px;
       // padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        box-shadow: 1px 18px 30px 5px #000000fd;
        z-index: 20;
       

        .officeHead {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            cursor: pointer;
            background: #FF8056;
            border-radius: 10px 10px 0 0;
            padding: 5px;

            .help{
                color: white;
                position: absolute;
                font-size: 13px;
                left:50%;
                transform: translateX(-50%);
                top:-21px;
                letter-spacing: 1px;
                opacity: .4;
            }

            .officeName {
               
                width: 100%;
                
                text-align: center;

                display: flex;
                justify-content: center;
                padding: 5px 0 ;

                input{
                    border: 0;
                    background: transparent;
                    font-size: 20px;
                    text-shadow: 2px 2px 2px black;
                    font-weight: 500;
                    color: white;
                    width: 100%;
                    text-align: center;
                    &:focus{                        
                        outline: 0;
                    }
                }
            }

            img {
                
                &:nth-child(4) {
                    opacity: 0;
                    width: 20px;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
            &:hover{
                img{
                    &:nth-child(4) {
                        opacity: .5;
                        &:hover {
                            transform: scale(140%);
                            opacity: 1;
                        }
                    }
                }
            }    
        }
        .officeBody {
            display: flex;
            flex-direction: column;
            padding: 10px 10px;
            background: rgb(249, 249, 249);
            background: -moz-linear-gradient(0deg, rgba(249, 249, 249, 0.4164040616246498) 0%, rgba(255, 128, 86, 0.3743872549019608) 100%);
            background: -webkit-linear-gradient(0deg, rgba(249, 249, 249, 0.4164040616246498) 0%, rgba(255, 128, 86, 0.3743872549019608) 100%);
            background: linear-gradient(0deg, rgba(249, 249, 249, 0.4164040616246498) 0%, rgba(255, 128, 86, 0.3743872549019608) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9", endColorstr="#ff8056", GradientType=1);
            border-radius: 0 0 10px 10px;
        }
    }


}

//----------- ОТДЕЛЕНИЕ
.departmentsList {
    border-radius: 14px;
    width: 100%;
    display: flex; 
    align-items: flex-start;   

    gap: 45px;
  

    padding: 0 20px;


    .departmentsListHead {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .addDepartmentForm{
        width: 350px;
        
        //-------------------------------------------------
        animation: open 200ms ease-in;
        .addForm{
            width: 350px;
            box-shadow:  10px 10px 20px #000000f1;
            h3{
              color: steelblue;
              font-weight: 600;              
            }

            button{
                background: steelblue;
            }

            .addHelp{
                color: steelblue;
                opacity: .5;
            }
        }

    }

}
.department{
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #4683b4;
    border-radius: 20px;
    padding-bottom: 5px;
    width: 370px;
    padding-right: 5px;
    //height: 100%;

    //border: 1px solid white;

    background: rgb(42,153,85);
    background: -moz-linear-gradient(90deg, rgba(42,153,85,1) 0%, rgba(70,131,180,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(42,153,85,1) 0%, rgba(70,131,180,1) 100%);
    background: linear-gradient(90deg, rgba(42, 153, 85, 0.658) 0%, rgba(70, 131, 180, 0.26) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a9955",endColorstr="#4683b4",GradientType=1);

    box-shadow: 3px 3px 15px black; 
}

.departmentItem {

    //background: #FFFFFF;
    // /box-shadow: 1px 2px 15px 1px #000000fd;
    box-shadow: 5px 5px 10px 0px #0000003f;

    border-radius: 14px;

    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;    
    margin-right: 10px;
    width: 350px;
    //height: 230px;
    transition: all 200ms ease-in-out;
    // margin-right: 20px;
    // transform: scale(110%);

    .departmentHead {
        display: flex;
        justify-content: space-between;
        background-color: steelblue;
        color: rgb(226, 232, 243);
        padding: 5px 15px;
        border-radius: 10px 10px 0 0px ;

        .help{
            position: absolute;
            font-size: 13px;
            right: 10px;
            top:-16px;
            letter-spacing: 1px;
            opacity: .4;
        }

        .departmentName{
            font-size: 17px;
            text-shadow: 2px 2px 2px black;
            font-weight: 500;
            text-align: center;
            width: 100%;
            display: flex;

            input{
                border: 0;
                background: transparent;
                font-size: 17px;
                text-shadow: 2px 2px 2px black;
                font-weight: 500;
                color: white;
                width: 100%;
                text-align: center;
                &:focus{                        
                    outline: 0;
                }
            }

        }
        img {
            &:nth-child(3) {
                position: absolute;
                top: 5px;
                right: 5px;
                opacity: 0;
                width: 16px;
                cursor: pointer;

            }
        }

        &:hover{
            img {
                &:nth-child(3) {
                    opacity: .4;
                    &:hover {
                        transform: scale(140%);
                        opacity: 1;
                    }
                }
        }
    }
    }
    .depatmentBody{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 10px;
        
        //margin: 0 10px;
        border-radius: 0px 0px 10px 10px;
        background: rgb(255, 255, 255);

        background: rgb(249,249,249);
        background: -moz-linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(187,211,230,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(187,211,230,1) 100%);
        background: linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(187,211,230,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9",endColorstr="#bbd3e6",GradientType=1);
    }
}


//SECTIONS

.sectionsList { 
    border-radius: 14px;
    width: 100%;
    // margin-left: 20px;
    // margin-right: 20px;
    // margin-left: 20px;
    //transform: translateX(-10px);
    padding: 0 0  0 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
    gap: 30px;   
    padding: 30px 0;
    

    .addSectionForm{
        box-shadow:  10px 10px 20px #000000f1;
        z-index: 30;
        border-radius: 7px;
        overflow: hidden;        
        width: 100%;
        animation: open 200ms ease-in;
        .addForm{
           width: 100%;
            h3{
                color: #2a9955d7;
                font-weight: 600;
            }
    
            .addHelp{
                color: #2a9955d7;
                opacity: .7;
            }

            button{
                background: #2a9955d7;
            }

        }

    }

    .sectionsListHead {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        cursor: pointer;
        position: relative;

        img {
            width: 30px;
            &:nth-child(2) {
                width: 20px;
                opacity: .2;
            }
        }

    }
    .sectionWrap{
        display: flex;
        .line{
            width: 10px;
            background: #2a9955d7;
            transform: scale(120%) translateY(-15px);
        }
    }

    .sectionItem {
        width: 100%;
        background-color: white;
        //border: 2px solid rgb(0, 0, 0);
        //box-shadow: 0px 5px 10px -2px #000000c2;
        border-radius: 6px;
       // overflow: hidden;
       display: flex;
       flex-direction: column;
       width: 350px;
       
       
       //transform: translateX(-10px);

        .sectionItemHead{
            //border: 1px solid black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 200ms ease-in-out;
            background-color: #2a9955d7;
            color: white;
            border-radius: 5px 5px 2px 2px;
            font-size: 15px;
            padding: 5px 5px;
            position: relative;

            .help{
                position: absolute;
                font-size: 13px;
                left: 10px;
                top:-21px;
                letter-spacing: 1px;
                opacity: .7;
            }
            .delete{
                width: 17px;
                opacity:0;
                cursor: pointer;

            }

            
      

            .sectionName{
                display: flex;
                justify-content: space-between;
                text-align: center;
                width: 100%;
                font-size: 17px;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.63);
                font-weight: 500;
                width: 100%;
                color: white;
                text-align: center;
                position: relative;
                input{
                    border: 0;
                    background: transparent;
                    font-size: 17px;
                    text-shadow: 2px 2px 2px black;
                    font-weight: 500;
                    color: white;
                    width: 100%;
                    text-align: center;
                    &:focus{                        
                        outline: 0;
                    }
                }



                .index{

                    opacity: .6;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    span{
                        margin-left: 3px;
                        font-size: 14px;
                        border: 2px solid white;
                        border-radius: 50%;
                        padding: 0 5px;

                    }
                }

            }


            &:hover{
                .delete{
                    opacity: .5;
                    &:hover{
                        transform: scale(140%);
                        opacity: .8;
                    }
                }
            }
        }

        .sectionBody{
            display: flex;
            flex-direction: column;
            gap: 3px;
            padding: 3px 5px;


            background: rgb(249,249,249);
            background: -moz-linear-gradient(0deg, rgba(249,249,249,0.4164040616246498) 0%, rgba(42,153,85,0.4023984593837535) 100%);
            background: -webkit-linear-gradient(0deg, rgba(249,249,249,0.4164040616246498) 0%, rgba(42,153,85,0.4023984593837535) 100%);
            background: linear-gradient(0deg, rgba(249,249,249,0.4164040616246498) 0%, rgba(42,153,85,0.4023984593837535) 100%);
            //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9",endColorstr="#2a9955",GradientType=1);
            border-radius: 0 0 5px 5px ;
        }
        
    }

    .administratorsList {
        //border-left: 4px solid #FF8056;        
        border-radius: 14px;       
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 3px 5px 0px 0;
        margin-bottom: 5px;
        animation: open 200ms ease-in;
        

        img {
            width: 20px;

            &:nth-child(2){
                opacity: .4;
            }
        }

        // img:first-child{
        //     width: 30px;
        // }



        .administratorsField {
            //background-color: aqua;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            img {
                &:first-child {
                    width: 30px;
                }

                &:nth-child(2) {
                    opacity: .3;
                    width: 20px;
                }
            }
        }

        .addAdminBtn {
            width: 100%;
            display: flex;
            justify-content: left;
            margin-left: 10px;
            padding: 0;
            opacity: .2;
            
            transition: all 200ms ease-in-out;
            cursor: pointer;
            &:hover{
                opacity: .8;
            }
        }

        .addAdmin {
            //border: 1px solid black;
            background-color: #dab03e;
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            margin: 5px 0 10px 2px;
            padding: 5px 5px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            box-shadow: 1px 10px 6px 2px #000000c4;
            animation: open 200ms ease-in;

            input,
            select, textarea {
                width: 100%;
                font-size: 14px;
                padding: 2px 2px;
                border-radius: 5px;
            }

            textarea{
                resize: vertical;
            }

            img {
                cursor: pointer;
                width: 20px;
            }

            // select {
            //     border: 0;
            //     padding: 0px;
            //     margin: 0;
            // }

            &::selection {
                border: 0;
                outline: 0;
            }

            .addAdminBtns{
                display: flex;
                justify-content: space-around;
                width: 100%;
                gap: 10px;
                padding: 0 10px;
                button{
                    width: 100%;
                    cursor: pointer;
                    font-size: 14px;
                    border-radius: 5px;
                    border: 0;
                    padding: 3px 0;
                    box-shadow: 1px 1px 4px black;

                }
                
            }
        }
    }

}


.administrator {

    // border: 1px solid rgb(14, 119, 0);
    //box-shadow: 1px 1px 5px 2px #6b6b6b67;
   
    // border-radius: 10px;
    background-color: #ff80561a;
    
    //overflow: hidden;
    box-shadow: 1px 1px 6px 0px #000000c2;
    border-radius: 5px;
    overflow: hidden;
    transform: translateX(15px);

    .administratorHead {
        // padding: 2px 10px;
        display: flex;
        justify-content: space-between;
        background-color: #dab03e;
        // border-radius: 0 0 10px 10px;
        border-radius: 5px 5px 0 0 ;
        color: white;
        

        .userId {
            display: flex;
            justify-content: center;
            gap: 4px;
            align-items: center;
            text-align: center;
            font-size: 14px;
            width: 20px;

            img {
                opacity: .2;
                width: 15px;
            }
        }

        .userName {
            padding: 3px;
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 5px;
            width: 100%;
            letter-spacing: 1px;

            img {
                width: 12px;
            }

        }

        .userDel {
            width: 15px;
            cursor: pointer;
            opacity: 0;
            margin-right: 4px;

            &:hover {
                opacity: 1;
                transform: scale(120%);
            }            
        }

        &:hover{
            cursor: pointer;
            .userDel{
                opacity: .4;
                &:hover{
                    opacity: 1;
                }
            }
        }

    }

    .descriptions {
        display: flex;
        gap: 10px;
        opacity: 1;
        margin: 0px 0;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        color: black;
        //border: 2px solid #796f0f70;
        background-color: #e7dab7;
        padding: 2px 5px;
        border-radius: 0 0 5px 5px;

        img{
            width: 13px;
        }


    }


    .chartsList {
        display: none;
        //border: 1px solid black;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgba(128, 128, 128, 0.445);
        padding: 5px;
        border-radius: 5px;
        //margin-left: 20px;
        margin-bottom: 10px;

        h5 {
            display: block;
            text-align: center;
            padding: 0;
            margin: 0;
            font-size: 13px;
            color: rgb(75, 74, 74);
        }

        .addChartBtn {
            cursor: pointer;

            &:hover {
                transform: scale(120%);
            }
        }



        .addChart {
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 10px;

            select {
                width: 100%;
                max-width: 400px;
                border-radius: 10px;
                padding: 3px 10px;
            }

            img {
                cursor: pointer;
            }
        }

        img {
            width: 20px;
        }

        .chartItem {
            font-size: 15px;
            letter-spacing: 1px;
            opacity: .9;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            //border: 1px solid black;
            padding: 0 10px;
            margin-bottom: 5px;
            box-shadow: 1px 1px 5px -1px black;
            background: #fff;

            .chartId {
                display: flex;
                align-items: center;

                span {
                    font-weight: 600;
                    opacity: .6;
                }

                img {
                    opacity: .2;
                }
            }

            .chartName {
                font-size: 14px;
                font-weight: 600;
                opacity: .8;
            }

            .chartDel {
                cursor: pointer;
                opacity: .5;

                &:hover {
                    opacity: 1;
                    transform: scale(120%);
                }
            }


        }
    }

    // &:hover{
    //     cursor: pointer;
    //     transform: scale(104%);
    //     box-shadow: 1px 10px 6px 2px #00000088;
    // }
}

@keyframes open{
    from{
        transform: translateY(-100px) scale(0%);
        opacity: 0;
    }to{
        opacity: 1;
        transform: translateY(0px) scale(100%);
    }
}