.orgWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

    .orgHead {
        display: flex;
        flex-direction: column;
        width: 100%;

        h2 {
            display: block;
            text-align: center;
        }
    }
}
// PROP LINE
.propLine{            
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    //text-align: center;
    img{
        width: 20px;
        cursor: pointer;
    }
}
// ADD ITEM 
.addItemBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-size: 14px;
    background: #FF8056;
    padding: 6px 5px;
    border-radius: 5px;
    width: 180px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.568);
    margin-top: 5px;
    align-self: flex-end;
    cursor: pointer;
    img{
        width: 20px;
    }
}

.addOfficeBtn {
    //border: 1px solid black;  
    cursor: pointer;

    background: #FF8056;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    width: 60px;
    border-radius: 15px;
    margin-left: 30px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.568);
    opacity: .4;
    transition: all 200ms ease-in-out;

    &:hover {
        opacity: 1;
        background: #fa6f40;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.568);
    }
}

//ADD OFFICE
.addForm{
    width: 700px;
    //border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: white;   
    position: relative;
    gap: 10px;
    padding: 15px 10px;

    input,textarea,select{
        padding: 5px 10px;
        border-radius: 5px;
        border: 0;
        outline: 3px solid rgba(128, 128, 128, 0.247);

        &:focus{
            border: 0;
            outline: 3px solid #fa6e4079 ;
        }
    }

    textarea{
        resize: vertical;
    }
    select{
        
    }

    button{
        padding: 10px 10px;
        border-radius: 5px;
        width: 200px;
        align-self: flex-end;
        margin-top: 20px;
        background: #FF8056;
        color: #fff;
        letter-spacing: 1px;
        font-weight: 500;
        border: 0;
        box-shadow: 2px 2px 5px 1.3px rgba(0, 0, 0, 0.637);       
        &:hover{
            cursor: pointer;
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.637);

        }
    }

    h3{
        color: rgb(0, 0, 0);
        text-align: center;
        font-weight: 500;
    }

    .close{
        width: 30px;
        cursor: pointer;
        position: absolute;
        top: 3px;
        right: 3px;
        opacity:.2;
        transition: all 200ms ease-in-out;
        &:hover{
            opacity: .4;
        }

    }
    
    .addHelp{
        color: rgba(128, 128, 128, 0.527);
        font-size: 14px;
        transform: translateY(8px) translateX(10px);
        letter-spacing: 1px;
    }
}

//----------- ОТДЕЛ
.officeList {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 200ms ease-in-out;

    // &.active {
    //     &::after {
    //         content: '';
    //         position: fixed;
    //         inset: 0 0 0 0;
    //         background: rgba(0, 0, 0, 0.133);
    //         z-index: 2;
    //         filter: grayscale(0%);
    //     }

    // }


    //OFFICE ITEM
    .tableItem {
        //border: 2px solid black;

        flex: 0 0 356px;
        background: #FF8056;
        cursor: pointer;
        padding: 6px 5px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.329);
        //box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.20), 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 7px 7px 0px rgba(0, 0, 0, 0.17), 0px 16px 10px 0px rgba(0, 0, 0, 0.10), 0px 29px 12px 0px rgba(0, 0, 0, 0.03), 0px 45px 13px 0px rgba(0, 0, 0, 0.00);
        transition: all 200ms ease-in-out;
        &:hover{
            transform: scale(110%);
            box-shadow: 4px 4px 18px 2px rgba(0, 0, 0, 0.219);


        }
        &.activeItem{
           // background-color: black;
            z-index: 5;
        }

        .help {
            color: white;
            font-size: 13px;
            text-align: right;
            letter-spacing: .7px;
            margin-right: 10px;
            margin-bottom: 5px;
        }

        .officeHead {
            color: white;
            font-size: 18px;
            display: flex;
            align-items: center;
            margin-bottom: 3px;

            .officeNumber {
                display: flex;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .officeName {
                width: 100%;
                text-align: center;
                letter-spacing: .8px;
            }

        }

        .leadership {
            border-radius: 3px;
            font-size: 16px;
            background: white;
            padding: 3px 5px;
        }

        .ckp {
            border-radius: 3px;
            font-size: 13px;
            background: white;
            padding: 3px 5px;
        }

    }
}

.officeItem {
    margin-top: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
    transition: all 200ms ease-in-out;
    

    .office {
        border-radius: 14px;
        // padding: 10px;
        margin: 10px;
        background: white;
        width: 500px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        box-shadow: 1px 18px 30px 5px #000000fd;
        z-index: 20;

        .officeHead {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            background: #FF8056;
            border-radius: 10px 10px 0 0;
            padding: 5px;



            .officeName {
                font-size: 20px;
                text-shadow: 2px 2px 2px black;
                font-weight: 500;
                width: 100%;
                color: white;
                text-align: center;
            }

            img {
                
                &:nth-child(2) {
                    opacity: 0;
                    width: 20px;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
            &:hover{
                img{
                    &:nth-child(2) {
                        opacity: .5;
                        &:hover {
                            transform: scale(140%);
                            opacity: 1;
                        }
                    }
                }

            }
    
        }
    }


}

//----------- ОТДЕЛЕНИЕ
.departmentsList {
    border-radius: 14px;
    width: 100%;
    display: flex;    
    gap: 30px;
    position: relative;

    .departmentsListHead {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .addDepartmentForm{
        width: 350px;
        
        //-------------------------------------------------
        animation: open 200ms ease-in;
        .addForm{
            width: 350px;
            box-shadow:  10px 10px 20px #000000f1;
            h3{
              color: steelblue;
              font-weight: 600;  
              
            }

            button{
                background: steelblue;
            }

            .addHelp{
                color: steelblue;
                opacity: .5;

            }
        }

    }

}
.department{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.departmentItem {

    background: #FFFFFF;
    box-shadow: 1px 18px 20px 5px #000000fd;

    border-radius: 14px;

    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 350px;
    height: 230px;
    transition: all 200ms ease-in-out;

    .departmentHead {
        display: flex;
        justify-content: space-between;
        background-color: steelblue;
        color: rgb(226, 232, 243);
        padding: 5px 15px;
        border-radius: 10px 10px 0 0 ;

        .departmentName{
            font-size: 17px;
            text-shadow: 2px 2px 2px black;
            font-weight: 500;
            text-align: center;
            width: 100%;

        }
        img {
            &:nth-child(2) {
                position: absolute;
                top: 5px;
                right: 5px;
                opacity: 0;
                width: 16px;
                cursor: pointer;

            }
        }

        &:hover{
            img {
                &:nth-child(2) {
                    opacity: .4;
                    &:hover {
                        transform: scale(140%);
                        opacity: 1;
                    }
                }
        }
    }
    }
    .depatmentBody{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 10px;
    }
}


//SECTIONS

.sectionsList { 
    border-radius: 14px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;    

    .addSectionForm{
        box-shadow:  10px 10px 20px #000000f1;
        z-index: 30;
        border-radius: 7px;
        overflow: hidden;        
        width: 100%;
        animation: open 200ms ease-in;
        .addForm{
           width: 100%;
            h3{
                color: #2a9955d7;
                font-weight: 600;
            }
    
            .addHelp{
                color: #2a9955d7;
                opacity: .7;
            }

            button{
                background: #2a9955d7;
            }

        }

    }

    .sectionsListHead {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        cursor: pointer;

        img {
            width: 30px;
            &:nth-child(2) {
                width: 20px;
                opacity: .2;
            }
        }
    }

    .sectionItem {
        background-color: white;
        //border: 2px solid rgb(0, 0, 0);
        box-shadow: 1px 10px 6px 2px #000000c2;
        border-radius: 6px;
        overflow: hidden;

        .sectionItemHead{
            //border: 1px solid black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 200ms ease-in-out;
            background-color: #2a9955d7;
            color: white;
            border-radius: 5px 5px 2px 2px;
            font-size: 15px;
            padding: 5px 2px;

            .sectionName{
                display: flex;
                justify-content: space-between;
                text-align: center;
                width: 100%;
                font-size: 17px;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.63);
                font-weight: 500;
                width: 100%;
                color: white;
                text-align: center;
            }
            img{
                width: 17px;
                opacity:0;
                cursor: pointer;

            }

            &:hover{
                img{
                    opacity: .5;
                    &:hover{
                        transform: scale(140%);
                        opacity: .8;
                    }
                }
            }
        }

        .sectionBody{
            display: flex;
            flex-direction: column;
            gap: 3px;
            padding: 3px 5px;
        }
        
    }

    .administratorsList {
        //border-left: 4px solid #FF8056;        
        border-radius: 14px;       
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 3px 5px 0px 0;
        margin-bottom: 5px;
        

        img {
            width: 20px;

            &:nth-child(2){
                opacity: .4;
            }
        }

        // img:first-child{
        //     width: 30px;
        // }



        .administratorsField {
            //background-color: aqua;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            img {
                &:first-child {
                    width: 30px;
                }

                &:nth-child(2) {
                    opacity: .3;
                    width: 20px;
                }
            }
        }

        .addAdminBtn {
            width: 100%;
            display: flex;
            justify-content: left;
            margin-left: 10px;
            padding: 0;
            opacity: .2;
            
            transition: all 200ms ease-in-out;
            cursor: pointer;
            &:hover{
                opacity: .8;
            }
        }

        .addAdmin {
            //border: 1px solid black;
            background-color: #2a9955d7;
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            margin: 5px 0 10px 2px;
            padding: 5px 5px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;

            input,
            select, textarea {
                width: 100%;
                font-size: 14px;
                padding: 2px 2px;
                border-radius: 5px;
            }

            textarea{
                resize: vertical;
            }

            img {
                cursor: pointer;
                width: 20px;
            }

            // select {
            //     border: 0;
            //     padding: 0px;
            //     margin: 0;
            // }

            &::selection {
                border: 0;
                outline: 0;
            }

            .addAdminBtns{
                display: flex;
                justify-content: space-around;
                width: 100%;
                
            }
        }
    }

}


.administrator {

    // border: 1px solid rgb(14, 119, 0);
    //box-shadow: 1px 1px 5px 2px #6b6b6b67;
   
    // border-radius: 10px;
    background-color: #ff80561a;
    
    overflow: hidden;

    .administratorHead {
        // padding: 2px 10px;
        display: flex;
        justify-content: space-between;
        background-color: #FF8056;
        // border-radius: 0 0 10px 10px;
        border-radius: 5px 5px 0 0 ;
        color: white;
        

        .userId {
            display: flex;
            justify-content: center;
            gap: 4px;
            align-items: center;
            text-align: center;
            font-size: 14px;
            width: 20px;

            img {
                opacity: .2;
                width: 15px;
            }
        }

        .userName {
            padding: 3px;
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 5px;
            width: 100%;

            img {
                width: 12px;
            }

        }

        .userDel {
            width: 15px;
            cursor: pointer;
            opacity: 0;
            margin-right: 4px;

            &:hover {
                opacity: 1;
                transform: scale(120%);
            }            
        }

        &:hover{
            cursor: pointer;
            .userDel{
                opacity: .4;
            }
        }

    }

    .descriptions {
        display: flex;
        gap: 10px;
        opacity: .8;
        margin: 0px 0;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        color: black;
        border: 2px solid #796f0f70;
        background-color: #796f0f49;
        padding: 2px 5px;
        border-radius: 0 0 5px 5px;

        img{
            width: 13px;
        }


    }


    .chartsList {
        display: none;
        //border: 1px solid black;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgba(128, 128, 128, 0.445);
        padding: 5px;
        border-radius: 5px;
        //margin-left: 20px;
        margin-bottom: 10px;

        h5 {
            display: block;
            text-align: center;
            padding: 0;
            margin: 0;
            font-size: 13px;
            color: rgb(75, 74, 74);
        }

        .addChartBtn {
            cursor: pointer;

            &:hover {
                transform: scale(120%);
            }
        }



        .addChart {
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 10px;

            select {
                width: 100%;
                max-width: 400px;
                border-radius: 10px;
                padding: 3px 10px;
            }

            img {
                cursor: pointer;
            }
        }

        img {
            width: 20px;
        }

        .chartItem {
            font-size: 15px;
            letter-spacing: 1px;
            opacity: .9;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            //border: 1px solid black;
            padding: 0 10px;
            margin-bottom: 5px;
            box-shadow: 1px 1px 5px -1px black;
            background: #fff;

            .chartId {
                display: flex;
                align-items: center;

                span {
                    font-weight: 600;
                    opacity: .6;
                }

                img {
                    opacity: .2;
                }
            }

            .chartName {
                font-size: 14px;
                font-weight: 600;
                opacity: .8;
            }

            .chartDel {
                cursor: pointer;
                opacity: .5;

                &:hover {
                    opacity: 1;
                    transform: scale(120%);
                }
            }


        }
    }
}

@keyframes open{
    from{
        transform: translateY(-100px) scale(0%);
        opacity: 0;
    }to{
        opacity: 1;
        transform: translateY(0px) scale(100%);
    }
}