.modalWrapper{
   // background: rgba(0, 0, 0, 0.705);
    position: fixed;
    inset: 0 0 0 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    padding: 20px;    
    &::after{
        content: '';
        position: absolute;        
        inset: 0 0 0 0;
        background: rgba(0, 0, 0, 0.705);
        filter: brightness(200%);
        z-index: 100;
    }   

    .modalContent{
        background: white;
        border: 2px solid white;
        padding: 20px 30px;
        overflow-y: auto;
        border-radius: 20px;
        z-index: 200;   
        
        &::-webkit-scrollbar-thumb{
            background-color: #FF8056;
            border-radius: 5px;
        }
    }

    .modalClose{
        position: absolute;
        right: 10px;
        top:10px;
        color: white;
        cursor: pointer;
        z-index: 200;
    }
}