.mainWrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .statSelect {
        border: 2px solid rgba(0, 0, 0, 0.096);
        border-radius: 10px;
        box-shadow: 3px 3px 5px black;
        padding: 10px 30px;
        display: flex;
        gap: 20px;


        .statItem {
            padding: 2px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 500ms ease-in;
            outline: 1px solid rgba(128, 128, 128, 0.253);
        }

        .statItemSelected {
            background: #FF8056;
            color: white;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
        }
    }

    .chartWrap {
        //border: 1px solid black;
        width: 60vw;
        height: 60vh;
        display: flex;
        justify-content: center;
    }
}