.loading_true{
    z-index: 99999;
    position: fixed;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.453);
    display: flex;
    justify-content: center;
    align-items: center;
    
    backdrop-filter: blur(5px);
   

    .iconWrap{
        position: relative;
        border: 10px solid rgba(255, 255, 255, 0.137);
        padding: 10px;
        border-radius: 20%;
        
        .message{
            position:absolute;
            bottom: -30px;
            color:rgb(255, 255, 255);
            text-align: center;
        }
        
    }

    
}
.loading_false{
    display: none;
    position: fixed;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.253);
}

.logoWrap{
    position: relative;
    display: flex;
   // border: 1px solid black;
    width: 505px;
}

.mechLoading_true{  
      
    position: absolute;
    bottom: 0;
    left:21px;
    bottom: 20px;
    transition: all 500ms linear;
    animation: loading 5s linear infinite;
}
.mechLoading_false{   
    transform: rotate(0); 
    position: absolute;
    bottom: 0;
    left:21px;
    bottom: 20px;
    transition: all 500ms linear;
   // animation: loading 2s linear infinite;
}

@keyframes loading{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}