.modalMain {
    align-self: center;
    background: white;
    padding: 20px;

    textarea {
        padding: 5px 10px;
        border-radius: 5px;
        resize: none;
        width: 400px;
        height: 100px;
    }
}

.blankCellMain {
    padding: 3px 0px !important;
    cursor: pointer;


    .wrap {
        display: flex;
        align-items: center;
        height: 80px;
        // border: 1px solid red;

        .value {
            display: flex;
            align-items: center;
            justify-content: center;

            text-align: center;
            padding: 5px;
            resize: none;
            width: 100%;
            height: 100%;
            border: 0;
            background: transparent;
            font-size: 15px;
        }

        .delBtn {
            opacity: 0;
            cursor: pointer;
        }

        .loaded {
            flex: 1 0;
            // border: 1px solid black;
            text-align: center;
            font-weight: 500;
            color: rgb(71, 71, 71);
        }

        .statPositionBlock {
            padding: 10px 0;
            height: 100%;
            color: green;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
        }

        &:hover {
            .delBtn {
                opacity: .6;
            }

            .statPositionBlock {
                display: flex;
            }
        }

    }


}

.modalBlock {
    min-width: 800px;
    border-radius: 10px;
    padding: 30px 20px;
    background: white;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .field {

        display: flex;
        flex-direction: column;
        gap: 5px;
        border: 2px solid rgb(223, 223, 223);
        border-radius: 10px;
        padding: 10px;
        background: rgb(250, 250, 250);

        .addBtn {
            font-size: 17px;
            cursor: pointer;
            align-self: flex-start;
            padding: 2px 10px;
            display: flex;
            //align-items: center;
            justify-content: center;
            gap: 5px;
            border: 2px solid cornflowerblue;
            border-radius: 5px;
            background: rgb(169, 193, 238);
            color: white;

            &:hover {
                background: cornflowerblue;
            }
        }


        .help {
            opacity: 1;
            margin-left: 20px;
        }

        .statName {
            background-color: white;
            font-size: 20px;
            align-self: flex-start;
            padding: 5px 10px;
            border: 2px solid rgb(100, 148, 237);
            border-radius: 5px;
        }

        .columnName {
            background-color: white;
            font-size: 20px;
            border-radius: 5px;
            padding: 5px 10px;
            border: 2px solid #FF8056;
            align-self: flex-start;
        }

        .logicStr {
            background-color: white;
            width: 100%;
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 5px;
            border: 2px solid rgb(4, 131, 4);
            text-align: left;
            min-height: 150px;
            resize: vertical;
        }

        .helpBlock {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            // background: yellowgreen;

            .helpItem {
                color: white;
                background: #FF8056;
                border: 1px solid rgb(206, 206, 206);
                border-radius: 5px;
                padding: 2px 5px;
                display: flex;
                gap: 5px;
                cursor: pointer;
                box-shadow: 2px 2px 3px rgb(0, 0, 0);

                .decor {
                    background: white;
                    padding: 0px 3px;
                    border-radius: 5px;
                    color: rgb(217, 55, 231);
                    font-weight: 600;
                    //text-shadow: 0px 0px 1px black;
                }

                .name {}
            }
        }

        .resultBlock {
            background-color: white;
            align-self: center;
            font-size: 20px;
            padding: 5px 10px;
            border-radius: 5px;
            border: 2px solid #FF8056;
            text-align: center;
        }

    }





}