.directWrap {

    display: flex;
    flex-direction: column;
    gap: 10px;

    .addTableBtn {
        background: lightgreen;
        align-self: flex-start;
        padding: 5px 10px;
        cursor: pointer;
    }

    .addTableModal {
        background: white;
        padding: 20px;
        align-self: center;
    }

    .headersEditBlock {
        border: 1px solid black;
        display: flex;
        justify-content: center;
        gap: 5px;
        padding: 10px 0px;


        .headersItem {
            border: 1px solid black;
            padding: 10px;
            text-wrap: wrap;
            position: relative;

            .itemText {}

            .itemDel {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }

        .addBtn {
            border: 1px solid rgb(7, 133, 7);
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-wrap: balance;
        }
    }



    .mainTable {
        table-layout: fixed;
        border: 1px solid black;
        border-collapse: collapse;

        th,
        td {
            padding: 20px;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
        }

        th {
            background: lightgreen;
            border: 1px solid #fff;
        }
    }
}