.officeBlock {
    border: 3px solid black;
    position: static;
    min-width: 200px;
    max-width: 300px;
    max-height: 700px;
    border-radius: 10px;    
    font-size: 13px;
    transition: all 300ms linear;
    cursor:pointer;
    padding: 2px 5px;


    
    .close{        
        position: absolute;
        top:0;
        right:0;

    }

    .officeName {
        font-weight: 600;
    }

    .officeCkp {

    }

    .officeLeadership {}

    .officeDescriptions {
        font-size: 0;
        transition: all 100ms linear;
    }
    .officeDepatments{
        display: flex;
        flex-direction: column;
        gap:5px;
        position: relative;
        height: 0%;
       // transition: all 500ms linear;

       .officeDepatmentsList{
        display: none;
       }

       &:hover{
        .officeDepatmentsList{
            display: flex;
            flex-direction: column;
            gap: 5px;
           }
       }
         

    }

    &.min {
        border: 3px solid rgb(10, 105, 49);
        background: rgb(255, 255, 255);
    }

    &.mouse {
        border: 3px solid  rgb(94, 171, 223);
        .officeDescriptions {
            display: block;
            
            font-size: 13px;
        }

        .officeDepatments{
            height: 100%;
            height: auto;
            opacity: 1;
        }
    }

    &.full {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        inset: 0 0 0 0;
        background: rgb(192, 247, 105);
    }
}